<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            text-transform: uppercase;
        }
    </style>
</head>

<body>

    <h1>
        welcome to home page.....
    </h1>

    name : <%=tokendata.name%> <br>
        email : <%=tokendata.email%> <br>
            phone : <%=tokendata.phone%> <br>

                <a href="/logout">logout</a></p><br>

                <a href="/edit">edit profile</a><br>

                <a href="/forgetPass">update Password</a>

                <div>
                    <!-- (folder path) -->
                    <a href="/folders/tic tac toe/tictactoe.html">tic tac toe</a>
                    <a href="/folders/kukucube/kukucube.html">kuku cube</a>
                    <a href="/folders/form html/index.html">form1</a>
                    <a href="/folders/form html/home.html">form2</a>
                </div>

                <div>
                    <!-- make get request -->
                    <a href="/tictactoe">tic tac toe</a>
                    <a href="/kukucube">kuku cube</a>
                    <a href="/form1">form1</a>
                    <a href="/form2">form2</a>
                    <a href="/view">excelcrud</a>
                    <a href="/ajaxpage">ajax pagination</a>


                </div>




</body>

</html>