<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget passowrd</title>
</head>

<body>

    <form action="/forgetPass" method="post">
        <td> <input type="email" name="email" id="email" value="<%=tokendata.email%>" hidden></td>

        <tr>
            <td><label for="psw">old password:</label></td>
            <td> <input type="text" name="psw" id="psw" required onfocusout="oldpasschecker()"></td>

        </tr><br><br>
        <tr>
            <td><label for="newpsw">new password:</label></td>
            <td> <input type="text" name="newpsw" id="newpsw" required onfocusout=""></td>
        </tr><br><br>
        <tr>
            <td><label for="cpass">confirm password:</label></td>
            <td> <input type="text" name="cpass" id="cpass" required onchange="comaprepass()"></td>
        </tr><br>


        <tr>
            <p id="0"></p>
        </tr><br>
        <input type="submit" value="update password">
    </form>
</body>
<script>

    let email = document.getElementById('email').value;
    console.log(email)
    let newpsw = document.getElementById('newpsw').value;
    let psw = document.getElementById('psw').value;
    console.log(psw)

    let update = document.getElementById('update');
    let passshow = document.getElementById('0');


    function oldpasschecker() {
        psw = document.getElementById('psw').value;

        console.log("function is called")
        console.log("psw", psw)
        fetch(`/oldPassChecker?email=${email}&&psw=${psw}`)
            .then(res => res.json())
            .then(data => {
                if (data.exits) {
                    document.getElementById('0').innerHTML = "your password is true"
                } else if (!data.exits) {
                    document.getElementById('0').innerHTML = "your password is false"

                } else {
                    document.getElementById('0').innerHTML = ""
                }
            })
            .catch(error => console.log(error));

    }
    function comaprepass() {
        var newpsw = document.getElementById('newpsw').value;
        var cpass = document.getElementById('cpass').value;

        if (newpsw == cpass) {
            document.getElementById('0').innerHTML = "password Matched";

        }else{
            document.getElementById('0').innerHTML = "password not Matched";
        }

    }
</script>

</html>